/*  general */
.navbar img {
    width: 60px;
    height: 60px;
}
.navbar img:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar a
/*.navbar .nav-link*/{
    font-family: 'Overlock SC', serif;
    font-size: 1.4em;
}

/*index.html*/
#home-body {
    height: 600px;
    animation: animate-hero 8s ease-in-out infinite;
    background-size: cover;
    background-position: 30% 50%;
    text-shadow: 0 0 5px rgba(255,255,255,.8), 0 0 5px rgba(255,255,255,.8);
}
@keyframes animate-hero {
    0%,100%{
        background-image: url(../img/00-thimo-van-leeuwen-GnoMX4Q-7Vg-unsplash.jpg)}
    33%{
        background-image: url(../img/hero-pexels-valeria-boltneva-1251198.jpg);
    }
    66%{
        background-image: url(../img/milkshake.pexels-sanket-sawant-2340204.jpg);
    }
} 
#home-body div{
    width: 50%;
     text-align: center;
    }  
#home-body #welcome-text {
    padding-top: 200px;
}
/* Main title animation with a css help courtesy of my classmate Miranda & Marcel Balint https://github.com/mkthewlis*/
#home-body h2 {
    font-size: 1.6em;
    font-family: 'Overlock SC', Copperlate, Tahoma;
    font-weight: 500;
    animation-name: moveleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;   
}
@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(0.4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#home-body #welcome-text h4{
    font-size: 1.2em;
    font-family: 'Original Surfer', Copperlate, Tahoma;    
}
#home-body #button-order{
    font-size: .9em;
    font-family: 'Overpass Mono', Copperlate, Tahoma;
}

/*about.html*/
#about-promise{
    min-height: 900px;
    padding-bottom: 1em;
    background-image: url(../img/bg-lq-burger\ light-pexels-dana-tentis-750073-min.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
#about-promise h2,
#about-team h2,
#about-gallery h2{
    font-size: 1.2em;
    font-family: 'Playfair Display SC', Copperlate, Tahoma;
    font-weight: 600;
}
#about-promise h4{
    font-size: 1.4em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-promise img{
    border-radius: 5px;
    height: 210px;
}
#about-promise .text-cont{
    max-height: 170px;
    max-width: 80%;
}

#about-team{
    min-height: 930px;
    padding-bottom: 1em;;
    background-image: url(../img/bg-team-restaurant-103038-pxhere.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
#about-team h4{
    font-size: 1.6em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team h6{
    font-size: 1.4em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team p{
    font-size: 1em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team img{
    height: 150px;
}
#about-team .text-cont{
    max-width: 70%;
}
#about-gallery{
    min-height: 300px;
    padding-bottom: 1em;
    background-image: url(../img/bg-decor-background-pexels-pixabay-276514-min.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
#about-gallery h2{
    font-size: 1.5em;
}

/* menu.html */
#menu-menu{
    animation: animate-menu 8s ease-in-out infinite;
    height:700px;
    background-size: cover;
    text-align: center;
}
@keyframes animate-menu {
    0%,100%{
        background-image: url(../img/00-thimo-van-leeuwen-GnoMX4Q-7Vg-unsplash.jpg)}
    33%{
        background-image: url(../img/hero-pexels-valeria-boltneva-1251198.jpg);
    }
    66%{
        background-image: url(../img/milkshake.pexels-sanket-sawant-2340204.jpg);
    }
}
#menu-list{
    width: 50%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: /*#BE9E6A*/ #9a9da0;
    background-color: rgba(0,0,0,0.5);
}

/* contact.html */
#contact{
    max-height: 1350px;
    padding-bottom: 1em;
    background-image: url(../img/bg-lq-burger\ light-pexels-dana-tentis-750073-min.png);
    background-size: cover;
    background-position: 50% 50%;
}
#map{
    min-width: 300px;
    height: 300px;
    border-radius: 5px;
}
#contact-slideshow div {
    width: 100%;
    height: 100px;
}
#contact-slideshow img {
    max-width: 100%;
    height: auto;
    }
/* TRANSPARENT FORM */
/*https://www.youtube.com/watch?v=OB-75ysZhfY*/
#contact-form{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}
#contact-form p{
    color: #ffffff;
    margin: 0;
    padding: 0;
}
#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea[type=text],
#contact-form select{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
}
#contact-form .form-control{
    color: #ffffff;
}
#contact-form .form-control option{
    color: #000000;
}
#contact-form ::placeholder{
    color: #ffffff;
}
/* responsive design */
@media(min-width: 576px) {
    /*index.html*/
    #home-body {
        height: 700px;
        background-position: 25% 50%;
    }
    #home-body #welcome-text {
        padding-top: 220px;   
    }
    #home-body #welcome-text h2 {
        font-size: 1.8em;
        font-weight: 550;
    }
    #home-body #welcome-text h4{
        font-size: 1.3em;
        letter-spacing: 2px;
        
    }
    #home-body #button-order{
        font-size: 1.2em;
    }
    
    /*about.html*/
    #about-promise{
        min-height: 700px;
    }
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 1.6em;
    }
    #about-promise img{
        height: 240px;
    }
    #about-promise .text-cont{
        max-width: 60%;
    }
    #about-team img{
        height: 200px;
    }
}

@media(min-width: 768px) {
    /* index.html*/
    #home-body {
        height: 900px;
    }
    #home-body #welcome-text {
        padding-top: 280px;
        letter-spacing: 5px;
        line-height: 60px;
    } 
    #home-body #welcome-text h2 {
        font-size: 2em;
        font-weight: 600;
    }
    #home-body #welcome-text h4{
        font-size: 1.5em;
        font-weight: 500;
    }
    /* about.html*/
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 1.8em;
    }
    #about-promise h4{
        font-size: 1.6em;
    }
    #about-promise img{
        height: 270px;
    }
    #about-promise .text-cont{
        max-width: 40%;
    }
    #about-team{
        min-height: 500px;
    }
    
}
@media(min-width: 1200px){
    /*index.html*/
    #home-body #welcome-text h2 {
        font-size: 2.4em;
        font-weight: 700;
        letter-spacing: 7px;
        line-height: 70px;
    }
    #home-body #welcome-text h4{
        font-size: 2em;
    }
    /*about.html*/
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 2.5em;
        font-weight: 700;
    }
    #about-promise h4{
        font-size: 2em;
    }
    #about-promise img{
        height: 320px;
    }
    #about-team{
        min-height: 700px;
        padding-top: 50px;
    }
    #about-team img{
        height: 300px;
    }  
}
@media(min-width: 1600px){  
    /*index.html*/
    #home-body #welcome-text h2 {
        font-size: 3em;
        letter-spacing: 10px;
        line-height: 80px;
    }
     /*about.html*/
     #about-promise h2,
     #about-team h2,
     #about-gallery h2{
         font-size: 3em;
     }
     #about-promise h4{
         font-size: 2.4em;
     }
     #about-promise img{
         height: 400px;
     }
    }
