/*  general */
/* cursor over links & btns*/
header .nav-item li:hover{
    cursor: context-menu;
}
a:hover {
    cursor: context-menu;
}
/* navbar style */
.navbar img {
    width: 60px;
    height: 60px;
}
.btn:not(:disabled):not(.disabled){
    cursor: context-menu;
}
/* navbar logo animation */
/* https://stackoverflow.com/questions/16771225/css3-rotate-animation */
.navbar img:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
.navbar a
/*.navbar .nav-link*/{
    font-family: 'Overlock SC', serif;
    font-size: 1.4em;
}
/* footer social icons*/
footer img{
    width: 50px;
    height: 50px;
}
/* shaking social icons*/
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
footer img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
footer .dropdown-item{
    color: #f8f9fa;
}
footer .dropdown-item:visited{
    background-color: #343a40;
}
footer .dropdown-item:hover{
    background-color: #343a40;
}
footer p{
    margin: 0px;
    padding: 0px;
}

/*index.html*/
/* main part with background animation*/
#home-body {
    min-height: 550px;
    animation: animate-hero 8s ease-in-out infinite;
    background-size: cover;
    background-position: 30% 50%;
    text-shadow: 0 0 5px rgba(255,255,255,.8), 0 0 5px rgba(255,255,255,.8);
}
@keyframes animate-hero {
    0%, 100%{
        background-image: url(../img/milkshake.pexels-sanket-sawant-2340204.jpg);
    }
    /*33%{
        background-image: url(../img/hero-pexels-valeria-boltneva-1251198.jpg);
    }*/
    70%{
        background-image: url(../img/00-thimo-van-leeuwen-GnoMX4Q-7Vg-unsplash.jpg)      
    }
}
/*weclome text container */ 
#home-body div{
    width: 50%;
     text-align: center;
     padding-top: 200px;
    }  
/* Main title animation with a css help courtesy of my classmate Miranda & Marcel Balint https://github.com/mkthewlis*/
/* added delay https://css-tricks.com/a-new-way-to-delay-keyframes-animations/*/
/* welcome part animated */
#home-body h2 {
    font-size: 1.6em;
    font-family: 'Overlock SC', Copperlate, Tahoma;
    font-weight: 500;
    animation-name: moveleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;   
}
@keyframes moveleft {
  0%, 25%, 50% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*hungry part animated*/
#home-body #welcome-text h4{
    font-size: 1.2em;
    font-family: 'Original Surfer', Copperlate, Tahoma;
    animation-name: movedown;
    animation-duration: 2s;
    animation-timing-function: ease-out;    
}
@keyframes movedown {
    0% {
      opacity: 0;
      transform: translateY(-3rem);
    }
    80% {
      transform: translateY(3rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* order now button animated*/
#home-body #button-order{
    font-size: .9em;
    font-family: 'Overpass Mono', Copperlate, Tahoma;
    animation-name: movetop;
    animation-duration: 5s;
    animation-timing-function: ease-out;   
}
@keyframes movetop {
0%, 25%, 70% {
opacity: 0;
transform: translateY(10rem);
}
80% {
transform: translateY(1rem);
}
100% {
opacity: 1;
transform: translateY(0);
}
}
/*about.html*/
/*  top button https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
#about-top-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    top: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #343a40; /* Set a background color */
    color: #f8f9fa; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 9px; /* Increase font size */
  }
  
  #about-top-btn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/* first section*/
#about-promise{
    min-height: 900px;
    padding-bottom: 1em;
    background-image: url(../img/bg-lq-burger\ light-pexels-dana-tentis-750073-min.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
#about-promise h2,
#about-team h2,
#about-gallery h2{
    font-size: 1.2em;
    font-family: 'Playfair Display SC', Copperlate, Tahoma;
    font-weight: 600;
}
#about-promise h4{
    font-size: 1.4em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-promise img{
    border-radius: 5px;
    height: 210px;
    /* zoom animation https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
    transition: transform .2s;
    }
#about-promise img:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
#about-promise .text-cont{
    max-height: 170px;
    max-width: 80%;
}

#about-team{
    min-height: 930px;
    padding-bottom: 1em;;
    background-image: url(../img/bg-team-restaurant-103038-pxhere.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
#about-team h4{
    font-size: 1.6em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team h6{
    font-size: 1.4em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team p{
    font-size: 1em;
    font-family: 'Ovo', Copperlate, Tahoma;
}
#about-team img{
    height: 150px;
    /* zoom animation https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
    transition: transform .2s;
}
#about-team img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#about-team .text-cont{
    max-width: 70%;
}
#about-gallery{
    min-height: 300px;
    padding-bottom: 1em;
    background-image: url(../img/bg-decor-background-pexels-pixabay-276514-min.png);
    background-size: cover;
    background-position: 50% 50%;
    color: black;
    text-align: center;
}
/*corners cut on slideshow*/
#about-gallery #carouselExampleIndicators div{
    border-radius: 10px;
}
#about-gallery h2{
    font-size: 1.5em;
}

/* menu.html */
#menu-menu{
    animation: animate-menu 8s ease-in-out infinite;
    height:700px;
    background-size: cover;
    text-align: center;
}
@keyframes animate-menu {
    0%,100%{
        background-image: url(../img/00-thimo-van-leeuwen-GnoMX4Q-7Vg-unsplash.jpg)}
    33%{
        background-image: url(../img/hero-pexels-valeria-boltneva-1251198.jpg);
    }
    66%{
        background-image: url(../img/milkshake.pexels-sanket-sawant-2340204.jpg);
    }
}
#menu-list{
    width: 50%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: /*#BE9E6A*/ #9a9da0;
    background-color: rgba(0,0,0,0.5);
}

/* contact.html */
#contact{
    max-height: 1350px;
    padding-bottom: 1em;
    background-image: url(../img/bg-lq-steak-gonzalo-guzman-3997609.png);
    background-size: cover;
    background-position: 50% 50%;
}
#map{
    min-width: 300px;
    height: 300px;
    border-radius: 5px;
}
#contact-slideshow div {
    width: 100%;
    height: 100px;
}
#contact-slideshow img {
    max-width: 100%;
    height: auto;
    }
/* TRANSPARENT FORM */
/*https://www.youtube.com/watch?v=OB-75ysZhfY*/
#contact-form{
    width: 90%;
    padding-top: 50px;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}
 
#contact-form p{
    color: #ffffff;
    margin: 0;
    padding: 0;
}
#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea[type=text],
#contact-form select{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
}
#contact-form .form-control{
    color: #ffffff;
}
#contact-form .form-control option{
    color: #000000;
}
#contact-form ::placeholder{
    color: #ffffff;
}
/* responsive design */
@media(min-width: 576px) {
    /*index.html*/
    #home-body {
        height: 700px;
        background-position: 25% 50%;
    }
    #home-body #welcome-text {
        padding-top: 220px;   
    }
    #home-body #welcome-text h2 {
        font-size: 1.8em;
        font-weight: 550;
    }
    #home-body #welcome-text h4{
        font-size: 1.3em;
        letter-spacing: 2px;
        
    }
    #home-body #button-order{
        font-size: 1.2em;
    }
    
    /*about.html*/
    #about-top-btn {
        top: 30px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        background-color: rgba(0,0,0,0.5); /* Set a background color */
        padding: 10px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 12px; /* Increase font size */
      }
    #about-promise{
        min-height: 700px;
    }
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 1.6em;
    }
    #about-promise img{
        height: 240px;
    }
    #about-promise .text-cont{
        max-width: 60%;
    }
    #about-team img{
        height: 200px;
    }
}

@media(min-width: 768px) {
    /*general*/
    .container{
        max-width: 90%;
    }
    /* index.html*/
    #home-body {
        height: 940px;
    }
    #home-body #welcome-text {
        padding-top: 280px;
        letter-spacing: 5px;
        line-height: 60px;
    } 
    #home-body #welcome-text h2 {
        font-size: 2em;
        font-weight: 600;
    }
    #home-body #welcome-text h4{
        font-size: 1.5em;
        font-weight: 500;
    }
    /* about.html*/
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 1.8em;
    }
    #about-promise h4{
        font-size: 1.6em;
    }
    #about-promise img{
        height: 270px;
    }
    #about-promise .text-cont{
        max-width: 40%;
    }
    #about-team{
        min-height: 500px;
    }
    
}
@media(min-width: 1200px){
    /*index.html*/
    #home-body #welcome-text h2 {
        font-size: 2.4em;
        font-weight: 700;
        letter-spacing: 7px;
        line-height: 70px;
    }
    #home-body #welcome-text h4{
        font-size: 2em;
    }
    /*about.html*/
    #about-top-btn {
        right:15px; /* Place the button 30px from the right */
        padding: 12px; /* Some padding */
        font-size: 18px; /* Increase font size */
      }
    #about-promise h2,
    #about-team h2,
    #about-gallery h2{
        font-size: 2.5em;
        font-weight: 700;
    }
    #about-promise h4{
        font-size: 2em;
    }
    #about-promise img{
        height: 320px;
    }
    #about-team{
        min-height: 700px;
        padding-top: 50px;
    }
    #about-team img{
        height: 300px;
    }  
}
@media(min-width: 1600px){  
    /*index.html*/
    #home-body #welcome-text h2 {
        font-size: 3em;
        letter-spacing: 10px;
        line-height: 80px;
    }
     /*about.html*/
     #about-promise h2,
     #about-team h2,
     #about-gallery h2{
         font-size: 3em;
     }
     #about-promise h4{
         font-size: 2.4em;
     }
     #about-promise img{
         height: 400px;
     }
    }


/*test*/


  
  /* The popup form - hidden by default */
  /* position changed https://stackoverflow.com/questions/4463308/position-absolute-div-in-center-of-screen-view*/
  .form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 30px;
    background-color:  rgba(0,0,0,0.5);
  }
  
  /* Full-width input fields */
  .form-container input[type=email]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgba(0,0,0,0.5);
    color:white;
  }
  .form-check label {
      color: #ffffff;
  }
  .form-container h1{
      color: #ffffff;
      font-family: 'Overlock SC', Copperlate, Tahoma;
  }
  .form-container ::placeholder{
      color: #ffffff;
      font-family: 'Overlock SC', Tahoma;
  }
  .form-container button{
    color: #ffffff;
    font-family: 'Overlock SC', Tahoma;
}
  
  /* When the inputs get focus, do something 
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }*/
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }